<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtERISBP2trV6xclZ9BwcFHSuVhLcwFqM</string>
	<key>GCM_SENDER_ID</key>
	<string>584443635672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DefaultCompany</string>
	<key>PROJECT_ID</key>
	<string>space-game-b6986</string>
	<key>STORAGE_BUCKET</key>
	<string>space-game-b6986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584443635672:ios:236c5f013187a136bf74ad</string>
</dict>
</plist>